{% extends "base.html" %}
{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{ url 'apropos'}">Accueil</a></li>
        <li class="active">Contact</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">Contact</h1>
            </header>
            <h3>Qui sommes-nous ? </h3>
            <p>
                Etant actuellement en étude d’ingénieur à l’ESILV et dans le cadre de notre projet de fin de semestre
                nous avons décidé d’ouvrir ce site afin d’aider les personnes seule ou n’ayant pas les moyens de
                répondre à des besoins de première nécessité en cette période difficile pour tout le monde.
            </p>
            <h3>Comment nous contacter ?</h3>
            <p>Nous avons créé une plateforme d’échange pour vous permettre d’échanger par mail avec nous sans passer
                par des intermédiaires, elle est disponible en cliquant sur ce lien : www.contact@gmail.com</p>
            <h3> Ou encore ? </h3>
            <p>En cas de problème plus grave ou d’un besoin d’une intervention immédiate, nous avons ouvert une ligne
                gratuite qui vous permettra de nous joindre directement au numéro suivant : 06-15-84-78-94</p>

        </article>
        <!-- /Article -->


    </div>
</div>    <!-- /container -->

{% endblock %}