{% extends "base.html" %}
{% block content %}
{% load static %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{% url 'accueil' %}">Accueil</a></li>
        <li class="active">Demande</li>
    </ol>

    <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-4 sidebar sidebar-left">

            <div class="row widget">
                <div class="col-xs-12">
                    <h4>Onglets demande</h4>
                    <p>Completer le formulaire pour finaliser votre demande.</p>
                    <hr>
                    <h3>Allergie</h3>
                    <p>Si vous souffrer d'une quelconque allergie merci de remplir ce <a href="{% url 'accueil' %}">formulaire.</a> </p>
                </div>
            </div>
            <div class="container">

            </div>

            <br>
            <br>


        </aside>
        <!-- /Sidebar -->
        <!-- Article main content -->
        <article class="col-md-8 maincontent">
            <div class="dropdown pull-right   show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panier
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                {% csrf_token %}
                    {% for panier in paniers %}
                    <a class="dropdown-item" href="#">{{panier.produits.nom}} : {{panier.quantite}}</a>


                    {% endfor %}
                <hr>
                    <p>Prix : {{prix}} €</p>


                </div>
            </div>


            <h3>Sélectioner les produits dont vous avez besoin :</h3>

            <hr>
            <div class="container -fluid">
                {% for produit in produits %}
                <div class="col-md-4 col-md-offset-0 col-sm-1 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="container-fluid">
                                <img src="{{ produit.image }}" class="center-block" alt="erreur">
                            </div>
                            <div class="container">
                                <p class="text-center">{{produit.nom}}</p>
                            </div>
                            <div class="container">
                                <p class="text-center">Prix :{{produit.prix}} € </p>
                            </div>
                            <hr>
                            <form method="post" action="{% url 'demande' %}">
                                {% csrf_token %}

                                <div class="row">


                                    <div class="input-group mb-3">
                                        <input required="True" type="text" name="quantity" class="form-control"
                                               placeholder="Quantité" aria-describedby="basic-addon2">
                                        <input type="hidden" name="idproduit" value="{{produit.id}}">
                                        <input type="hidden" name="idcommande" value="{{idcommande}}">
                                        <div class="input-group-append">
                                            <button class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect"
                                                    type="submit" id="button-addon2">Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--Light blue-->
            </div>
            {% if conti %}
            <form method="post" action="{% url 'commandevalider' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary pull-right">Continuer</button>
                <input type="hidden" name="idcommande" value="{{idcommande}}">
            </form>
            {% else %}

            {% endif %}
        </article>


    </div>
</div>    <!-- /container -->


{% endblock %}